extends layout

block content
  div(class='menu-bar')
    h3 Home Page
  div
    each row in result.rows
      div.product-item-container.col-xl-3.col-lg-4.col-md-6
        div(class='thumbnail')
          img(class='img-thumbnail' src='public/uploads/' + row.image_name)
          div(class='caption')
            h3 #{row.name}
            p(class='description') #{row.description}
          div(class='clearfix')
            script.
              var handleClick=function(){
                console.log('productId');
              }
            div(class='price float-left') #{row.price} VNĐ
            a(href='#' class='btn btn-success float-right' role='button' onclick='handleClick()') Add To Cart

