extends ../layout

block content
  h3 Add Product
  form(class='form-group col-sm-10 col-md-8 col-lg-6 col-xl-6' method='POST' enctype='multipart/form-data')
    input(class='form-control' type='text' name='txtName' placeholder='Name')
    br
    input(class='form-control' type='number' name='txtPrice' placeholder='Price')
    br
    input(class='form-control' type='text' name='txtDescription' placeholder='Description')
    br
    input(class='form-control' type='file' id='txtFile' name='txtFile' accept='image/png, image/jpeg, image/gif')
    br
    img(class='image-preview form-control' id='imagePreview' name='imagePreview' hidden)
    br
    input(class='btn btn-success' type='submit' name='btnAdd' value='Add')
  script.
    document.getElementById('txtFile').onchange = function() {
      var reader = new FileReader();
      reader.readAsDataURL(this.files[0]);
      reader.onload = function(e) {
        var imagePreview = document.getElementById('imagePreview');
        imagePreview.src = e.target.result;
        imagePreview.hidden = false;
      }
    }
