extends ../layout

block content
  h3 Add Product
  form(class='form-group col-sm-10 col-md-8 col-lg-6 col-xl-6' method='POST' enctype='application/x-www-form-urlencoded')
    input(class='form-control' type='text' name='txtName' placeholder='Name')
    br
    input(class='form-control' type='number' name='txtPrice' placeholder='Price')
    br
    input(class='form-control' type='text' name='txtDescription' placeholder='Description')
    br
    input(class='btn btn-success' type='submit' name='btnAdd' value='Add')