extends ../layout

block content
  h3 Edit Product
  form(class='form-group col-sm-10 col-md-8 col-lg-6 col-xl-6' method='POST' enctype='application/x-www-form-urlencoded')
    input(type='hidden' name='txtId' value=product.id)
    input(class='form-control' type='text' name='txtName' value=product.name)
    br
    input(class='form-control' type='number' name='txtPrice' value=product.price)
    br
    input(class='form-control' type='text' name='txtDescription' value=product.description)
    br
    input(class='btn btn-success' type='submit' name='btnSave' value='Save')